DEFAULT menu
PROMPT 0
MENU TITLE Hombrew pxe boot
TIMEOUT 600
TOTALTIMEOUT 6000
ONTIMEOUT JeOS

LABEL local
        MENU LABEL (local)
        MENU DEFAULT
        COM32 chain.c32
        APPEND hd0

LABEL JeOS
        kernel /image/LimeJeOS-Leap-15.0.kernel
        MENU LABEL liveJeOS15.0
        append initrd=/boot/initrd rd.kiwi.install.pxe \
        rd.kiwi.install.image=tftp://192.168.100.253/image/LimeJeOS-Leap-15.0.xz

