# Sample genders file which should be the same on all nodes, with following format.
# Each line of the genders file may have one of the following formats
# The nodename(s) is the shortened[2] hostname of a node.  This is followed by
# any number of spaces or tabs, and then the comma-separated list of attributes,
# each of which can optionally have a value.  The substitution string "%n" can
# be used in an attribute value to represent the nodename.  Nodenames can be
# listed on multiple lines, so a node's attributes can be specified on multiple
# lines. However, no single node may have duplicate attributes. Genders database 
# accepts ranges of nodenames in the general form: prefix[n-m,l-k,...], 
# where n < m and l < k, etc., as an alternative to explicit lists of nodenames.
#
# Example file for clustduct with ten nodes and a entry to boot the nodes
# from the local disk
# 
# example for kiwi generated install entry
#
JeOS15     initrd=/leap15/pxeboot.initrd.xz,append=rd.kiwi.install.pxe\wsrd.kiwi.install.image\eqtftp://192.168.100.254/leap15/LimeJeOS-Leap-15.0.xz,kernel=/leap15/LimeJeOS-Leap-15.0.kernel,nextboot=local,trigger=LimeJeOS-Leap-15.0.xz
#
# local boot entry
#
local menu=label\wsboot\wsfrom\wslocal\wsdisk,com32=chain.c32,mandatory,grub=configfile\ws(hd0\cogpt3)/boot/grub2/grub.cfg
#
# node entries
#
compute-01 ip=192.168.100.11
compute-02 ip=192.168.100.12
compute-03 ip=192.168.100.13
compute-04 ip=192.168.100.14
compute-05 ip=192.168.100.15
compute-06 ip=192.168.100.16
compute-07 ip=192.168.100.17
compute-08 ip=192.168.100.18
compute-09 ip=192.168.100.19
compute-10 ip=192.168.100.20
#
# install the kiwi image on all the nodes
#
compute-[01-10] install=JeOS15
