# Sample genders file which should be the same on all nodes, with following format.
# Each line of the genders file may have one of the following formats
# The nodename(s) is the shortened[2] hostname of a node.  This is followed by
# any number of spaces or tabs, and then the comma-separated list of attributes,
# each of which can optionally have a value.  The substitution string "%n" can
# be used in an attribute value to represent the nodename.  Nodenames can be
# listed on multiple lines, so a node's attributes can be specified on multiple
# lines. However, no single node may have duplicate attributes. Genders database
# accepts ranges of nodenames in the general form: prefix[n-m,l-k,...],
# where n < m and l < k, etc., as an alternative to explicit lists of nodenames.
#
# Example file for clustduct with ten nodes and a entry to boot the nodes
# from the local disk
#
# example for kiwi generated install entry
#
# openSUSE Leap15.3 example entry
#
LEAP15SP3     initrd=/leap15/pxeboot.Leap-HPC-15.3-JeOS.x86_64-1.15.0.initrd.xz,append=rd.kiwi.install.pxe\wsrd.kiwi.install.image\eqtftp://192.168.100.254/leap15/Leap-HPC-15.3-JeOS.x86_64-1.15.0.xz,kernel=/leap15/Leap-HPC-15.3-JeOS.x86_64-1.15.0.kernel,nextboot=local,trigger=Leap-HPC-15.3-JeOS.x86_64-1.15.0.xz,mandatory
#
# SLE-HPC-15-1 example entry
#
SLE-HPC-15_3     initrd=/sle-hpc15.3/pxeboot.LimeJeOS-SLE-HPC-15.3.x86_64.initrd.xz,append=rd.kiwi.install.pxe\wsrd.kiwi.install.image\eqtftp://192.168.100.254/sle-hpc15.3/LimeJeOS-SLE-HPC-15.3.xz,kernel=/sle-hpc15.3/LimeJeOS-SLE-HPC-15.3.kernel,nextboot=local,trigger=LimeJeOS-SLE-HPC-15.3.xz
#
# local boot entry
#
local menu=Boot\wsfrom\wslocal\wsdisk,com32=chain.c32,mandatory,grub=configfile\ws(hd0\cogpt3)/boot/grub2/grub.cfg
#
# local boot entry for dolly, which can be used when installing multiple images at once, on the master
# server the dolly transfer has to be started with. The download via dolly is triggered by setting 
# the image loaction ur dolly://$FOO
# dolly -v -S 192.168.100.254 -H 192.168.100.01,compute-02,compute-03,compute-04,compute-05,compute-06,compute-07,compute-08,compute-09,compyte-10 -I /srv/tftpboot/sle-hpc/Leap-HPC-15.3-JeOS.x86_64-1.15.0.xz -O -
# please note that all nodes given via the -H option must be up and running either 'dolly > img' or have to be booted the DOLLY option
#
DOLLY initrd=/sle-hpc15.3/pxeboot.Leap-HPC-15.3-JeOS.x86_64-1.15.0.initrd.xz,append=rd.kiwi.install.pxe\wsrd.kiwi.install.image\eqdolly://192.168.100.254/sle-hpc15.3/Leap-HPC-15.3-JeOS.x86_64-1.15.0.xz,kernel=/sle-hpc15.3/Leap-HPC-15.3-JeOS.x86_64-1.15.0.kernel,nextboot=local,mandatory
#
# node entries
#
compute-01 ip=192.168.100.11
compute-02 ip=192.168.100.12
compute-03 ip=192.168.100.13
compute-04 ip=192.168.100.14
compute-05 ip=192.168.100.15
compute-06 ip=192.168.100.16
compute-07 ip=192.168.100.17
compute-08 ip=192.168.100.18
compute-09 ip=192.168.100.19
compute-10 ip=192.168.100.20
#
# install the kiwi image on all the nodes
# Uncomment for target system

# Install Leap 15.0
#
#compute-[01-10] install=LEAP15

# Install SLE-HPC-15-SP1
#
#compute-[01-10] install=SLE-HPC-15_1
