<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.8" name="LimeJeOS-SLE-HPC-15.1">
    <description type="system">
        <author>Christian Goll</author>
        <contact>cgoll@suse.de</contact>
        <specification>
            SUSE Linux Enterprise HPC 15 JeOS, small text based image
        </specification>
    </description>
    <preferences>
        <version>1.15.0</version>
        <packagemanager>zypper</packagemanager>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>Europe/Berlin</timezone>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <bootsplash-theme>SLE</bootsplash-theme>
        <bootloader-theme>SLE</bootloader-theme>
    </preferences>
    <preferences>
	    <type image="vmx" filesystem="ext4" bootloader="grub2" kernelcmdline="splash" firmware="efi" format="qcow2">
		    <size>
			    32768
		    </size>
	    </type>
        <type image="oem" filesystem="ext4" initrd_system="dracut" installpxe="true" bootloader="grub2" kernelcmdline="splash" firmware="efi">
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
                <oem-device-filter>/dev/ram</oem-device-filter>
                <oem-multipath-scan>false</oem-multipath-scan>
		<oem-unattended>true</oem-unattended>
            </oemconfig>
            <machine memory="512" guestOS="suse" HWversion="4">
                <vmdisk id="0" controller="ide"/>
                <vmnic driver="e1000" interface="0" mode="bridged"/>
            </machine>
        </type>
    </preferences>
    <users>
	<!-- password is linux -->
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root" groups="root"/>
    </users>
    <repository type="rpm-md" alias="kiwi" priority="1">
        <source path="obs://Virtualization:Appliances:Builder/SLE_15"/>
    </repository>
    <repository type="yast2" alias="SLE_installer">
	    <source path="iso:// /root/SLE-15-Installer-DVD-x86_64-GA-Media1.iso"/>
    </repository>
    <repository type="yast2" alias="SLE_packages">
	    <source path="iso:// /root/SLE-15-Packages-x86_64-GA-Media1.iso"/>
    </repository>

    <packages type="image">
	<package name="checkmedia"/>
        <package name="patterns-base-minimal_base"/>
        <package name="plymouth-branding-SLE"/>
	<package name="plymouth-dracut"/>
	<package name="plymouth"/>
        <package name="grub2-branding-SLE-15"/>
        <package name="iputils"/>
	<package name="vim"/>
        <package name="grub2"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name="grub2-i386-pc"/>
	<package name="syslinux"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="tar"/>
        <package name="openssh"/>
        <package name="iproute2"/>
        <package name="less"/>
	<package name="lvm2"/>
	<package name="psmisc"/>
	<package name="parted"/>
        <package name="bash-completion"/>
        <package name="dhcp-client"/>
        <package name="which"/>
	<package name="udev"/>
	<package name="salt-minion"/>
        <package name="shim"/>
	<package name="systemd"/>
	<package name="systemd-sysvinit"/>
	<package name="dracut"/>
        <package name="kernel-default"/>
        <package name="timezone"/>
	<package name="SLE_HPC-release"/>
	<package name="SUSEConnect"/>
	<package name="suse-build-key"/>
	<package name="sle-module-basesystem-release"/>
    </packages>
    <packages type="oem">
        <package name="dracut-kiwi-oem-repart"/>
        <package name="dracut-kiwi-oem-dump"/>
    </packages>
    <packages type="bootstrap">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
	<package name="SLE_HPC-release"/>
	<package name="sle-module-basesystem-release"/>
    </packages>
</image>
