DEFAULT menu
PROMPT 0
MENU TITLE Bootmenu for clustduct deployment
TIMEOUT 600
TOTALTIMEOUT 6000
ONTIMEOUT Clustduct

LABEL Clustduct
        MENU LABEL Clustduct cluster deployment
        MENU DEFAULT
	KERNEL menu.c32
	APPEND /srv/tftpboot/clustduct/menu.pxe

LABEL local
        MENU LABEL (local)
        COM32 chain.c32
        APPEND hd0


