# Sample genders file which should be the same on all nodes, with following format.
# Each line of the genders file may have one of the following formats
# The nodename(s) is the shortened[2] hostname of a node.  This is followed by
# any number of spaces or tabs, and then the comma-separated list of attributes,
# each of which can optionally have a value.  The substitution string "%n" can
# be used in an attribute value to represent the nodename.  Nodenames can be
# listed on multiple lines, so a node's attributes can be specified on multiple
# lines. However, no single node may have duplicate attributes. Genders database
# accepts ranges of nodenames in the general form: prefix[n-m,l-k,...],
# where n < m and l < k, etc., as an alternative to explicit lists of nodenames.
#
# Example file for clustduct with ten nodes and a entry to boot the nodes
# from the local disk
#
# example for kiwi generated install entry
#
# openSUSE Leap15 example entry
#
LEAP15     initrd=/leap15/pxeboot.initrd.xz,append=rd.kiwi.install.pxe\wsrd.kiwi.install.image\eqtftp://192.168.100.254/leap15/LimeJeOS-Leap-15.1.xz,kernel=/leap15/LimeJeOS-Leap-15.1.kernel,nextboot=local,trigger=LimeJeOS-Leap-15.1.xz
#
# SLE-HPC-15-1 example entry
#
SLE-HPC-15_2     initrd=/sle-hpc15.2/pxeboot.initrd.xz,append=rd.kiwi.install.pxe\wsrd.kiwi.install.image\eqtftp://192.168.100.254/sle-hpc15.2/LimeJeOS-SLE-HPC-15.2.xz,kernel=/sle-hpc15.2/LimeJeOS-SLE-HPC-15.2.kernel,nextboot=local,trigger=LimeJeOS-SLE-HPC-15.2.xz
#
# local boot entry
#
local menu=Boot\wsfrom\wslocal\wsdisk,com32=chain.c32,mandatory,grub=configfile\ws(hd0\cogpt3)/boot/grub2/grub.cfg
#
# node entries
#
compute-01 ip=192.168.100.11
compute-02 ip=192.168.100.12
compute-03 ip=192.168.100.13
compute-04 ip=192.168.100.14
compute-05 ip=192.168.100.15
compute-06 ip=192.168.100.16
compute-07 ip=192.168.100.17
compute-08 ip=192.168.100.18
compute-09 ip=192.168.100.19
compute-10 ip=192.168.100.20
#
# install the kiwi image on all the nodes
# Uncomment for target system

# Install Leap 15.0
#
#compute-01 install=LEAP15
#compute-02 install=LEAP15
#compute-03 install=LEAP15
#compute-04 install=LEAP15
#compute-05 install=LEAP15
#compute-06 install=LEAP15
#compute-07 install=LEAP15
#compute-08 install=LEAP15
#compute-09 install=LEAP15
#compute-10 install=LEAP15


# Install SLE-HPC-15-SP1
#
#compute-01 install=SLE-HPC-15_2
#compute-02 install=SLE-HPC-15_2
#compute-03 install=SLE-HPC-15_2
#compute-04 install=SLE-HPC-15_2
#compute-05 install=SLE-HPC-15_2
#compute-06 install=SLE-HPC-15_2
#compute-07 install=SLE-HPC-15_2
#compute-08 install=SLE-HPC-15_2
#compute-09 install=SLE-HPC-15_2
#compute-10 install=SLE-HPC-15_2
